@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  @variants responsive {
    .grid-rows-auto-screen {
      grid-auto-rows: 100vh;
    }
  }

  @variants responsive, dark {
   .colors-dark {
      @apply bg-black text-white;
    }

    .colors-light {
      @apply bg-white text-black;
    } 
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
